
bulbs-pinned-element {
  display: block;
  height: 100%;
  position: relative;
  width: inherit;

  bulbs-pinned-element-car {
    display: block;

    &.pinned-top {
    }

    &.pinned {
      position: fixed;
      width: inherit;
    }

    &.pinned-bottom {
      position: absolute;
    }
  }
}

