// Global Styles

bulbs-header {
  box-sizing: border-box;
  display: flex;
  font-family: Helvetical Neue, Helvetica, sans-serif;
  font-weight: 100;
  position: relative;
  width: 100%;
}

bulbs-header-masthead {
  align-items: center;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  height: 100px;
  position: relative;
  width: 100%;
}

bulbs-header-responsive-nav {
  align-items: center;
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateY(-130%);
  width: 100%;
  &.responsive-nav-active {
    position: fixed;
    transition-timing-function: ease-out;
    transition: 0.25s;
    transform: translateY(0);
  }
}