bulbs-lightbox {
  cursor: zoom-in;
  display: block;
  position: relative;
  .bulbs-lightbox-overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(0.9);
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    visibility: hidden;
    width: 100%;
    .bulbs-lightbox-overlay-inner {
      color: white;
      margin: auto;
      max-width: 1200px;
      width: 90%;
      z-index: 10000;
    }
  }
  &:after {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    content: '\f065';
    display: none;
    font-family: FontAwesome;
    font-size: 1.143em;
    height: 50px;
    line-height: 3;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
  }
  &:hover {
    &:after {
      display: block;
    }
  }
  &.active {
    cursor: zoom-out;
    &:after {
      display: none;
    }
    .bulbs-lightbox-overlay {
      opacity: 1;
      transform: scale(1);
      transition: transform 0.4s, opacity 0.4s;
      visibility: visible;
    }
  }
}
