bulbs-splitpic {
  display: block;
  position: relative;
  overflow: hidden;

  .splitpic-images {
    &.size-big {
      width: 100%;
    }

    &.size-medium {
      width: 75%;
    }

    &.size-small {
      width: 304px;
      max-width: 100%;
      margin-right: 0px;
      margin-left: 15px;
    }

    &.size-tiny {
      width: 144px;
      max-width: 100%;
      margin-right: 0px;
      margin-left: 15px;
    }

    .splitpic-image {
      overflow: hidden;
      margin-top: 0px;

      .image {
        height: auto;

        > img {
          height: auto;
          position: relative;
        }
      }
    }

    .splitpic-left-image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .splitpic-info {
      top: 45%;
      width: 100%;
      font-size: 200%;
      color: white;
      position: absolute;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.50);
    }

    .splitpic-bar {
      position: absolute;
      background-color: #113;
    }
  }

  &.splitpic-horizontal {
    cursor: ew-resize;

    .splitpic-bar {
      top: 0;
      width: 5px;
      height: 100%;
    }
  }

  &.splitpic-vertical {
    cursor: ns-resize;

    .splitpic-bar {
      left: 0;
      width: 100%;
      height: 5px;
    }
  }

  .figcaption {
    font-size: 11px;
    font-weight: normal !important;
    line-height: 16px;
    margin-top: 2px;
    font-style: italic;
    text-align: left;
  }
}
