*hot-update*
.test/
!elements/*/test
node_modules/
karma_html/
*.log
benchmark/
dist/
bower_components/
*.sw[pomn]
.tern-project
stats.json
.eslintcache
coverage/*
Procfile
.DS_Store
npm-debug.log*
.s*
*.swp

