campaign-display {
  color: rgba(112, 112, 112, 1);
  display: block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  .campaign-display-inner a {
    align-items: center;
    display: flex;
  }
  .campaign-display-sponsor-name {
    &:before {
      content: '\00a0';
      display: inline-block;
    }
  }
  .campaign-display-logo {
    margin-left: 15px;
    img {
      display: block;
      max-width: 90px;
      position: relative;
      width: 100%;
    }
  }
}
