@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .bulbs-video-viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

bulbs-video {
  display: block;
  background-color: black;
  overflow: hidden;

  .vjs-default-skin .vjs-big-play-button {
    display: none;
  }

  .vjs-poster {
    display: none;
  }

  .vjs-control-bar {
    display: block;
  }

  .player {
    // this `.player` section is fighting against
    // some `rem` units in videojs.

    .vjs-control-bar .vjs-progress-control {
      font-size: 15px;
    }

    .vjs-autoplay-toggle-button {
      align-items: center;
      display: flex;
      justify-content: center;
      line-height: 1;
      div .vjs-control-text {
        line-height: 1.3;
        top: 0;
      }
    }

    .vjs-current-time-display,
    .vjs-time-controls,
    .vjs-time-divider,
    .vjs-duration,
    .vjs-remaining-time {
      font-size: 10px;
      line-height: 30px;
      margin: 0;
    }
  }

  .bulbs-video-root {
    @include aspect-ratio(16, 9);
  }

  .bulbs-video-viewport {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
      font-size: 1em;
    }
  }



  .bulbs-video-cover,
  .bulbs-video-poster {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 0;
  }

  .bulbs-video-cover {
    cursor: pointer;
    height: 100%;
    width: 100%;
    &:before {
      background: linear-gradient(to bottom, blue, red);
      content: '';
      display: block;
      height: 50%;
      position: relative;
      width: 100%;
    } 
    &:hover {
      .bulbs-video-play-button {
        opacity: 1;
        .circle {
          opacity: 1;
        }
        .circle-border {
          fill: #000000;
        }
      }
    }
  }

  .bulbs-video-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }


}
