.bulbs-video-play-button {
  bottom: 10px;
  height: 34%;
  left: 10px;
  opacity: .8;
  position: absolute;
  width: auto;
  z-index: 1;
  .st0 {
    opacity: 0.5;
  }
  .st1 {
    fill: #FFFFFF;
  }
}