///////////////////////////
// ********************* //
//    Video End Cards    //
// ********************* //
///////////////////////////

$bold: 700;

bulbs-video {
  .endcard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .next-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .pause-wrap {
    position: relative;
  }

  #next-video {
    position: relative;

    a {
      display: flex;
      flex-direction: row;
      margin-top: 10%;
      align-items: top;
      text-decoration: none;
      text-shadow: 0px 0px 20px black;
    }

    figure {
      min-width: 50%;
      max-width: 50%;
      margin: 0;
      padding: 5%;
      box-sizing: border-box;

      img {
        max-width: 100%;
        min-width: 100%;
      }
    }

    .next-meta {
      font-size: 2em;
      font-size: calc(100% + 0.3em);
      margin-top: 2.5%;
      color: white;
      font-weight: bold;
    }
  }

  .embed-div {
    display: none;
  }

  .ec-replay {
    font-size: 3em;
  }

  .ec-header {
    background: black;
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
  }

  .poster-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 110%;
    max-width: 110%;
    filter: blur(10px);
    transform:
      translateX(-5%)
      translateY(-5%)
    ;
    z-index: 0;
  }

}
