%clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}

bulbs-reading-list {
  @extend %clearfix;
  display: block;
}

bulbs-reading-list-item {
  @extend %clearfix;
  display: block;
}

bulbs-reading-list-articles {
  @extend %clearfix;
  display: block;
  overflow: hidden;
}

bulbs-reading-list-menu {
  @extend %clearfix;

  &.visible {
    display: block;
  }
}
