$accent-color: green;
$low-contrast: lightgray;
$highlight-color: lightblue;

// First we do some resetting.
// This has to be in it's own block because the production build
// likes to re-order/combine things.
bulbs-poll {
  all: initial;
  box-sizing: border-box;

  & * {
    all: initial;
    box-sizing: border-box;
  }
}

bulbs-poll {
  display: block;
  font-family: sans-serif;
  border-top: 2px solid $accent-color;
  background: #fafafa;
  padding: 1em;

  > div {
    display: flex;
    flex-direction: column;
  }

  .bulbs-poll-cover {
    margin: 1em;
  }

  .bulbs-poll-cover-title {

  }

  .bulbs-poll-cover-image {

  }

  .bulbs-poll-answers {
    margin: 0;
    padding: 0;
  }

  .bulbs-poll-answer {
    &, & * {
      cursor: pointer;
    }
    background: $low-contrast;
    display: flex;
    list-style: none;
    margin: 1em;
    padding: 1em;
    user-select: none;

    svg {
      margin-right: 1em;
    }
  }

  .bulbs-poll-result {
    background: $low-contrast;
    display: flex;
    margin-bottom: 0;
    margin: 1em;
    padding: 1em;
    position: relative;
  }

  .bulbs-poll-results-list {
    display: flex;
    flex-direction: column;
  }

  .bulbs-poll-vote {
    align-self: center;
    background-color: $low-contrast;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: .5em 1.5em;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  .bulbs-poll-answer {
    position: relative;
  }

  .bulbs-poll-answer-bar {
    background-color: $highlight-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .bulbs-poll-answer-result {
    float: right;
    font-size: 0.8em;
  }

  .bulbs-poll-answer-title {
    flex-grow: 1;
    z-index: 1;
  }
}
