$accent-color: green;
$low-contrast: lightgray;
$highlight-color: lightblue;

// First we do some resetting.
// This has to be in it's own block because the production build
// likes to re-order/combine things.
bulbs-poll {
  all: initial;
  box-sizing: border-box;

  & * {
    all: initial;
    box-sizing: border-box;
  }
}

bulbs-poll {
  display: block;
  font-family: sans-serif;
  border-top: 2px solid $accent-color;
  background: #fafafa;
  padding: 1em;

  > div > div {
    display: flex;
    flex-direction: column;
  }

  .bulbs-poll-cover {

  }

  .bulbs-poll-cover-title {

  }

  .bulbs-poll-cover-image {

  }

  .bulbs-poll-answers {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.bulbs-poll-image-answer {
    background: #eaeaea;
    margin: 2em;
    padding: 2em;

    &:before {
      content: "";
    }
  }

  .bulbs-poll-image-answer {
    display: flex;
    flex-flow: row wrap;

    img {
      height: 100%;
      width: 100%;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }
  }

  .answer-image-text {
    display: flex;
    flex-flow: row wrap;
    padding: 0.2em;
  }

  .bulbs-poll-answers-selected :not(.bulbs-poll-answer-selected) span {
    opacity: 0.5;
  }

  .bulbs-poll-answer,
  .bulbs-poll-result {
    background: $low-contrast;
    display: flex;
    list-style: none;
    margin: 1em 0;
    padding: 1.3em;
    position: relative;

    &:first-child {
      margin-top: 1em;
    }

    span {
      line-height: 1.5;
      font-size: 14px;
    }

    svg {
      margin-right: 1em;
      width: 20px;
      height: 20px;
    }
  }

  li.bulbs-poll-image-result:before {
    content: "";
  }

  .bulbs-poll-image-result {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 1.5em;
    position: relative;
    width: 100%;

    img {
      width: 100%
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }


    .bulbs-poll-answer-result {
      margin: 3em auto;
    }

    .result-image-list-item {
      background: $low-contrast;
      height: 100%;
      padding: 1.3em;
      position: relative;
      width: 100%;
    }
  }

  .bulbs-poll-answer,
  .bulbs-poll-image-answer {
    &:hover {
      opacity: 0.5;
    }
  }

  .bulbs-poll-answer-text {
    opacity: 0.5;
  }

  .bulbs-poll-answer,
  .bulbs-poll-image-answer,
  .bulbs-poll-answer * {
    cursor: pointer;
    user-select: none;
  }

  .bulbs-poll-answer-result,
  .bulbs-poll-image-answer-result {
    min-width: 1.5em;
  }

  .bulbs-poll-result-winning {
    .bulbs-poll-answer-text,
    .bulbs-poll-image-answer-text {
      opacity: 1;
    }

    .bulbs-poll-answer-result,
    .bulbs-poll-image-answer-result {
      font-weight: bold;
      min-width: 3em;
      padding: 0 10px;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 8px;
        bottom: -5px;
        left: 0px;
        background-color: $accent-color;
        position: absolute;
      }
    }
  }

  .bulbs-poll-results-list {
    margin: 0;
    padding: 0;
  }

  .bulbs-poll-image-results-list {
    display: flex;
    margin: 0;
  }

  .bulbs-poll-footer {
    margin: 15px 0;
  }

  .bulbs-poll-thank-you {
    align-self: center;
    font-size: 1.3em;
    text-align: center;
    display: block;
  }

  .bulbs-poll-vote {
    align-self: center;
    background-color: $low-contrast;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    padding: .5em 1.5em;
    text-transform: uppercase;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  .bulbs-poll-answer-bar {
    background-color: $highlight-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .bulbs-poll-image-answer-bar {
    background-color: $highlight-color;
    bottom: 0;
    position: absolute;
    opacity: 0.5;
    right: 0;
    width: 100%;
  }

  .bulbs-poll-answer-result {
    float: right;
    font-size: 0.8em;
  }

  .bulbs-poll-answer-title {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    z-index: 1;

    .bulbs-poll-answer-text {
      flex-grow: 1;
      display: block;
    }
  }

  .bulbs-poll-ended-message {
    align-self: center;
    font-size: 1.3em;
    text-align: center;
    display: block;
  }

  .bulbs-poll-coming-soon {
    display: flex;
    flex-direction: column;
  }

  .bulbs-poll-coming-soon-message {
    display: block;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-style: italic;
    padding: 2em;
    background-color: $low-contrast;
  }

  .bulbs-poll-loading {
    text-align: center;
  }
}
