$accent-color: green;
$low-contrast: lightgray;
$highlight-color: lightblue;
$background-color: white;

// First we do some resetting.
// This has to be in it's own block because the production build
// likes to re-order/combine things.

%bulbs-poll-reset {
  all: initial;
  box-sizing: border-box;
}

%column {
  display: flex;
  flex-direction: column;
}

%row {
  display: flex;
  flex-directon: row;
}

%wrap-row {
  @extend %row;
  flex-wrap: wrap;
}

%wrap-column {
  @extend %column;
  flex-wrap: wrap;
}

%full-bleed {
  margin: 0;
  padding: 0;
}

%shy {
  opacity: .5;
}

%fit {
  width: 100%;
  height: 100%;
}

%low-contrast {
  background: $low-contrast;
}

%shy-on-hover {
  &:hover {
    @extend %shy;
  }
}

bulbs-poll {
  @extend %bulbs-poll-reset;

  display: block;
  font-family: sans-serif;
  border-top: 2px solid $accent-color;
  background: #fafafa;
  padding: 1em;
}

bulbs-poll * {
  @extend %bulbs-poll-reset;
}

// STATES
// These are the top level states of a poll
.bulbs-poll-question {
  @extend %column;
}

.bulbs-poll-loading {
  @extend %column;
}

.bulbs-poll-coming-soon {
  @extend %column;
}

.bulbs-poll-ended {
  @extend %column;
}

.bolbus-poll-question {
  @extend %column;
}


.bulbs-poll-image-answers {
  @extend %row;
}

.bulbs-poll-answers {
  @extend %full-bleed;
}
// COMPONENTS

bulbs-poll {
  .bulbs-poll-cover {

  }

  .bulbs-poll-cover-title {

  }

  .bulbs-poll-cover-image {

  }



  // overwriting specifity in starwipe
  li.bulbs-poll-image-answer {
    background: $background-color;
    padding: .5em .5em 1em .5em;
    margin: 1em;

    &:before {
      content: "";
    }
  }

  .bulbs-poll-image-answer {
    @extend %wrap-row;

    img {
      @extend %fit;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }
  }

  .answer-image-text {
    @extend %wrap-row;
    padding: 0.2em;
  }

  .bulbs-poll-answers-selected :not(.bulbs-poll-answer-selected) span {
    @extend %shy;
  }

  .bulbs-poll-answer {
    @extend %row;
  }

  .bulbs-poll-result {
    @extend %row;
    @extend %low-contrast;

    list-style: none;
    margin: 1em 0;
    padding: 1.3em;
    position: relative;

    &:first-child {
      margin-top: 1em;
    }

    &:before {
      content: "";
    }

    span {
      line-height: 1.5;
      font-size: 14px;
    }

    svg {
      margin-right: 1em;
      width: 20px;
      height: 20px;
    }
  }

  // overwriting specificity in starwipe
  li.bulbs-poll-image-result:before {
    content: "";
  }

  .bulbs-poll-image-result {
    @extend %wrap-row;
    list-style: none;
    margin: 1em;
    position: relative;
    width: 100%;

    img {
      width: 100%
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }


    .bulbs-poll-answer-result {
      margin: 3em auto;
    }

    .result-image-list-item {
      background: $background-color;
      @extend %fit;
      padding: .5em .5em 1em .5em;
      position: relative;
    }
  }

  .bulbs-poll-answer,
  .bulbs-poll-image-answer {
    @extend %shy-on-hover;
  }

  .bulbs-poll-answer-text {
    @extend %shy;
  }

  .bulbs-poll-answer,
  .bulbs-poll-image-answer,
  .bulbs-poll-answer * {
    cursor: pointer;
    user-select: none;
  }

  .bulbs-poll-answer-result,
  .bulbs-poll-image-answer-result {
    min-width: 1.5em;
  }

  .bulbs-poll-result-winning {
    .bulbs-poll-answer-text,
    .bulbs-poll-image-answer-text {
      opacity: 1;
    }

    .bulbs-poll-answer-result,
    .bulbs-poll-image-answer-result {
      font-weight: bold;
      min-width: 3em;
      padding: 0 10px;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 8px;
        bottom: -5px;
        left: 0px;
        background-color: $accent-color;
        position: absolute;
      }
    }
  }

  .bulbs-poll-results-list {
    margin: 0;
    padding: 0;
  }

  .bulbs-poll-image-results-list {
    display: flex;
    margin: 0;
  }

  .bulbs-poll-footer {
    margin: 15px 0;
  }

  .bulbs-poll-thank-you {
    align-self: center;
    font-size: 1.3em;
    text-align: center;
    display: block;
  }

  .bulbs-poll-vote {
    align-self: center;
    background-color: $low-contrast;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    padding: .5em 1.5em;
    text-transform: uppercase;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  .bulbs-poll-answer-bar {
    background-color: $highlight-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .bulbs-poll-image-answer-bar {
    background-color: $highlight-color;
    bottom: 0;
    position: absolute;
    @extend %shy;
    right: 0;
    width: 100%;
  }

  .bulbs-poll-answer-result {
    float: right;
    font-size: 0.8em;
  }

  .bulbs-poll-answer-title {
    @extend %wrap-row;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;
    z-index: 1;

    .bulbs-poll-answer-text {
      flex-grow: 1;
      display: block;
    }
  }

  .bulbs-poll-ended-message {
    align-self: center;
    font-size: 1.3em;
    text-align: center;
    display: block;
  }

  .bulbs-poll-coming-soon {
    display: flex;
    flex-direction: column;
  }

  .bulbs-poll-coming-soon-message {
    display: block;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-style: italic;
    padding: 2em;
    background-color: $low-contrast;
  }

  .bulbs-poll-loading {
    text-align: center;
  }
}
