%bulbs-video-carousel-button {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 1.5em;
  height: 2em;
  justify-content: space-around;
  width: 2em;
}

bulbs-video-carousel-next {
  @extend %bulbs-video-carousel-button;
}

bulbs-video-carousel-previous {
  @extend %bulbs-video-carousel-button;
}
