bulbs-video-summary {
  display: block;
  position: relative;
}

.bulbs-video-poster {
  position: relative;

  > img {
    max-width: 100%;
  }
}

.bulbs-video-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &:before {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.3));
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    width: 100%;
  }
}

.bulbs-video-summary-playing {
  position: absolute;
  top: .25em;
  left: .25em;
  background-color: black;
  color: white;
  font-size: .8em;
  font-family: sans-serif;
}

.bulbs-video-series-name {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}
