bulbs-video-summary {
  display: block;
  position: relative;
}

.bulbs-video-poster {
  position: relative;

  > img {
    max-width: 100%;
  }
}

.bulbs-video-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: rgba(0,0,0,0.45) 0px 0px 100px 0px inset;
  &:after {
    height: 100%;
    width: 100%;
  }
}

.bulbs-video-summary-playing {
  position: absolute;
  top: .25em;
  left: .25em;
  background-color: black;
  color: white;
  font-size: .8em;
  font-family: sans-serif;
}

.bulbs-video-series-name {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}
